# server/.gitignore

 
.env
.env.local
.env.production
.env.*
!.env.example        

# Dependencies
node_modules/

 
uploads/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/